.picture {
  padding: 64px 24px;
  .title-wrapper {
    text-align: center;
    h1 {
      font-size: 32px;
      color: rgba(0, 0, 0, 0.85);
      margin-bottom: 46px;
    }
  }
  .content {
    .pic {
      text-align: center;
    }
  }
}